.metadata/
build/
.DS_Store
.classpath
.idea
.project
.settings
openblocks.iml
bin/
.settings/
*~
src/main/resources/com/ardublock/block/ardublock.zip
/openblocks/target
/target/classes/
/target/test-classes/
/target/surefire-reports/
/.vscode/launch.json
/target/ardublock-0.1.0-SNAPSHOT.jar
/target/maven-archiver/pom.properties
